@import url("https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

/* ------------------------------------- Body styles */

.titles {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.horizontal-line {
  width: 40px;
  height: 5px;
  background-color: #f05f40;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.sections-titles {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
  text-align: center;
}

body {
  margin: 0;
  font-weight: 300;
  line-height: 1.5;
  background-color: #fff;
  font-family: "Reboto", sans-serif;
  /*font-family: "Dancing Script", cursive;*/
  font-weight: 500;
  color: #272829;
}

body h1 {
  color: white;
  font-family: "Satisfy", sans-serif;
}

body h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.list-item {
  margin: 15px 15px 15px 15px;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.sections h3 {
  font-size: 22px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  justify-content: center;
}

.section-title {
  text-align: center;
  padding-bottom: 0px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.sections-container {
  margin-top: 35px;
}

.justify-content-end {
  justify-content: flex-end;
}

/* ------------------------------------- Navegation bar */

nav ul {
  display: inline-block;
  width: 100%;
  float: left;
}

nav li {
  font-size: 18px;
  display: inline-block;
  float: left;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1999;
}

/* Mobile navegation bar */

.navbar-toggler {
  position: relative;
  text-align: right;
}

.nav-icon {
  font-size: 40px;
}

.navbar-mobile-bg {
  background-color: #fafafa;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.float-left {
  float: left !important;
}

.text-left-uppercase {
  text-align: left !important;
  text-transform: uppercase;
}

.nav-item a {
  color: #ffb727;
}

.nav-item {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.nav-item a {
  text-decoration: none;
}

.nav-item a:hover {
  font-weight: 700;
  color: #1e90ff;
}

#navbarNavDropdown a {
  color: #ffb727;
}

/* Desktop navegation bar */

.navbar-desktop {
  background: rgba(0, 0, 255, 0.3);
  height: 75px;
}

.navbar-menu {
  position: fixed;
  z-index: 9998;
  display: inline-block;
  width: 100%;
}

.menuitem a {
  text-decoration: none;
}

.menuitem a i {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.menuitem span:hover {
  color: orange;
}

.menuitem span {
  display: block;
  width: 100%;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #f8f8ff;
}

/*-------------------buttons------------------*/

.btn-main-sections {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 23px;
  width: 160px;
  background-color: #f05f40;
  border-color: #f05f40;
}

.btn-main-sections:hover,
.btn-main-sections:active,
.btn-main-sections:focus,
.btn-main-sections:active:focus:visited {
  background-color: #d3b3ac;
  border-color: #d3b3ac;
}

.lead {
  text-align: center;
  font-size: 14px;
}

.center-button {
  text-align: center !important;
}

/* ------------------------------------- Home page */

#home p {
  font-family: "Reboto", sans-serif;
  font-weight: 500;
  color: #f8f8ff;
  margin: 0px 0px 0px 0px;
  font-size: 20px;
  text-align: center;
}

#home {
  height: 100vh;
  position: relative;
  text-align: center;
  background: url(../images/brazo_tristeza.JPG);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  /*add animation to the background image */
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-center {
  align-items: center;
  justify-content: center !important;
  margin: 0px;
}

#home .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ffb727;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-top: 30px;
}

#home .social-links a:hover {
  background-color: #d3b3ac;
  border-color: #d3b3ac;
}

/* ------------------------------------- About page styles */
#about {
  background-color: #ececec;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  background-size: cover;
  padding: 0px;
  overflow: hidden;
}

.crop-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  filter: brightness(90%);
}

.center-content {
  text-align: center;
}

#about p {
  text-align: justify;
  font-size: 18px;
}

/* ------------------------------------- Skills page styles */

#skills {
  background-color: #ececec;
  margin-top: 0px;
  margin-bottom: 0px;
  background-size: cover;
  padding: 0px;
  overflow: hidden;
}

.progress {
  position: relative;
  height: 15px;
  margin-bottom: 20px;
  background-color: #d0d0d0;
}

.progress-section {
  margin: 40px 20px;
}

.skill {
  padding: 10px 0;
  margin-top: 0px;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}

.percent {
  float: right;
  font-style: normal;
}

/* ------------------------------------- Resume page styles */
#resume {
  background-color: #ececec;
  margin-top: 0px;
  margin-bottom: 0px;
  background-size: cover;
  padding: 0px;
  overflow: hidden;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

/* add vertical line */
ul.timeline::before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 27px;
  width: 5px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

/* circle for the timeline */
ul.timeline > li::before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

#resume h4 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: left;
}

#resume h5 {
  font-size: 16px;
  background: #778899;
  padding: 5px 15px;
  color: #f8f8ff;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
}

#resume p {
  text-align: left;
  font-size: 18px;
}

/* ------------------------------------- Portfolio page styles */
#portfolio {
  background-color: #ececec;
  margin-top: 0px;
  margin-bottom: 0px;
  background-size: cover;
  padding: 0px;
  overflow: hidden;
}

.portfolio-section {
  text-align: center;
}

.paragraph-port {
  font-size: 18px;
  font-family: "Reboto", sans-serif;
  text-align: justify;
  margin-top: 10px;
  font-weight: 400;
}

/* ------------------------------------- Contact page styles */

#contact {
  background-color: #ececec;
  margin-top: 0px;
  margin-bottom: 0px;
  background-size: cover;
  padding: 0px;
  overflow: hidden;
}

#contact span,p {
  text-align: left;
}

#contact a {
  color: #f8f8ff;
  text-decoration: none;
}

/* ------------------------------------- Footer styles */
footer {
  display: block;
  height: 125px;
}

#footer {
  background: #02457a;
  color: #f8f8ff;
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  height: auto;
}

#footer .social-links {
  margin-bottom: 0px;
  margin-right: 0px;
}

.inline-block {
  display: inline-block;
  text-align: justify;
}

.social-links {
  margin: 0 0px 0px 0;
  padding-bottom: 25px;
  font-size: 18px;
  text-align: center;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ffb727;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-top: 10px;
}

#footer .social-links a:hover {
  background-color: #d3b3ac;
  border-color: #d3b3ac;
}

footer h3 {
  font-size: 30px;
  margin-bottom: 0px;
  font-family: "Satisfy", sans-serif;
}

.footer-title {
  color: #f8f8ff;
  font-size: 35px;
}

.footer-titles {
  text-transform: uppercase;
  text-align: center;
  font-family: "Reboto", sans-serif;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
}

.copyright {
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: -10px;
  font-family: "Roboto", sans-serif;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.10);
  }
}

.scrollfooter {


}

