@import url("https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

/* ------------------------------------- Body styles */

.titles {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.horizontal-line {
    width: 40px;
    height: 5px;
    background-color: #f05f40;
    margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.sections-titles {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
  text-align: center;  
}

body {
  margin: 0;
  font-weight: 300;
  line-height: 1.5;
  background-color: #fff;
  font-family: "Reboto", sans-serif;
  /*font-family: "Dancing Script", cursive;*/
  font-weight: 500;
  color: #272829;
}

body h1 {
  color: white;
  font-family: "Satisfy", sans-serif;
}

body h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.list-item {
  margin: 15px 15px 15px 15px;
}

/* ------------------------------------- Navegation bar */
.navbar-desktop {
  /*background: none;*/
  /*background: #02457A;*/
  background: rgba(0, 0, 255, 0.3);
  /*opacity: 0.5;*/
  height: 75px;
}

nav ul {
  display: inline-block;
  width: 100%;
  float: left;
}

nav li {
  font-size: 18px;
  display: inline-block;
  float: left;
}

.navbar-menu {
  position: fixed;
  z-index: 9998;
  display: inline-block;
  width: 100%;
}

.menuitem a {
  text-decoration: none;
}


.menuitem a i {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.menuitem span:hover {
  color:orange;
}

.menuitem span {
  display: block;
  width: 100%;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #f8f8ff;
}

.sections h3 {
  font-size: 22px;
  text-align: center;
}

/*-------------------buttons------------------*/

.btn-main-sections {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 23px;
  width: 160px;
  background-color: #f05f40;
  border-color: #f05f40;
}

.btn-main-sections:hover,
.btn-main-sections:active,
.btn-main-sections:focus,
.btn-main-sections:active:focus:visited {
  background-color: #d3b3ac;
  border-color: #d3b3ac;
}

.lead {
  text-align: center;
  font-size: 14px;
}

/* ------------------------------------- Home page */

#home p {
  font-family: "Reboto", sans-serif;
  font-weight: 500;
  color: #f8f8ff;
  margin: 0px 0px 0px 0px;
  font-size: 20px;
}

#home {
  height: 100vh;
  position: relative;
  text-align: center;
  background: url(../images/brazo_tristeza.JPG);
  background-repeat: no-repeat;
  background-position: center center;
  /*background-attachment: fixed;*/
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  /*add animation to the background image */
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-center {
  /*display: flex;*/
  align-items: center;
  justify-content: center !important;
  margin: 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  justify-content: center;
}

#home .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ffb727;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-top: 30px;
}

#home .social-links a:hover {
  background-color: #d3b3ac;
  border-color: #d3b3ac;
}

/* ------------------------------------- About page styles */
#about {
  background-color: #DCE4EC;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  background-size: cover;
  padding: 0px;
  overflow: hidden;
}

.crop-img{
  width:300px;
  height:300px;
  object-fit:cover;
  border-radius:50%;
  filter: brightness(90%);
}

.center-content {
    text-align: center;
}

#about p {
    text-align: justify;
}


/* ------------------------------------- Skills page styles */
#skills {
  background-color: #1e90ff;
  margin-top: 0px;
  margin-bottom: 0px;
  background-size: cover;
  padding: 0px;
  overflow: hidden;
}

.progress {
  position: relative;
  height: 15px;
  margin-bottom: 20px;
}

.progress-section {
  margin: 40px 20px;
}

.skill {
  padding: 10px 0;
  margin-top: 0px;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}

.percent {
  float: right;
  font-style: normal;
}

/* ------------------------------------- Resume page styles */
#resume {
  background-color: #b0e0e6;
  margin-top: 0px;
  margin-bottom: 0px;
  background-size: cover;
  padding: 0px;
  overflow: hidden;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

/* vertical line */
ul.timeline::before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 27px;
  width: 5px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

/* circle for the timeline */
ul.timeline > li::before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

#resume h4 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#resume h5 {
  font-size: 16px;
  background: #eef0f2;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

/* ------------------------------------- Portfolio page styles */
#portfolio {
  background-color: #b0c4de;
  margin-top: 0px;
  margin-bottom: 0px;
  background-size: cover;
  padding: 0px;
  overflow: hidden;
}

.portfolio-section {
  text-align: center;
}

/* ------------------------------------- Contact page styles */
#contact {
  background-color: #87ceeb;
  margin-top: 0px;
  margin-bottom: 0px;
  background-size: cover;
  padding: 0px;
  overflow: hidden;
}

#contact span,p {
    text-align: center;
}

.sections-container {
  margin-top: 35px;
}


/* ------------------------------------- Footer styles */
footer {
  display: block;
  height: 125px;
}

#footer {
  background: #02457a;
  color: #f8f8ff;
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  height:auto;
}

#footer .social-links {
  margin-bottom: 0px;
  margin-right: 0px;
}


.inline-block {
    display: inline-block;
    text-align: justify;
}

.social-links {
  margin: 0 0px 0px 0;
  padding-bottom: 25px;
  font-size: 18px;
  text-align: center;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ffb727;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-top: 10px;
}

#footer .social-links a:hover {
  background-color: #d3b3ac;
  border-color: #d3b3ac;
}

.navbar-mobile {
display:flex;
background-color: rgba(0, 0, 255, 0.3);
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1999;
}


.container-mobile-navbar {
    width: 100%;
}

.float-left {
    float:left!important;
}

.text-left-uppercase {
    text-align: left!important;
    text-transform: uppercase;
}

.nav-item a {
color:  #ffb727;
}


.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-mobile-bg {
    transition: all .5s ease-in-out;
    background-color:#fafafa;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-b.navbar-reduce {
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-icon {
    font-size: 40px;
}



.justify-content-end {
justify-content: flex-end;
}

.navbar-bar{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.navbar-toggler {
    position: relative;
    text-align: right;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 30px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.bg-menu {
  background: #f7f8f9;
}

.nav-item {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.nav-item a {
    text-decoration: none;
}

.nav-item a:hover {
    font-weight: 700;
    color: #1e90ff;
}



/* #mobile-menu-content {
  position: fixed;
  right: 0;
  top: 0%;
  width: 8em;
  margin-top: 0em;
  z-index: 1;
  color: white;
  font-size: 24px;
  background-color: gray;
} */

#navbarNavDropdown a {
  color: #ffb727;
}

footer h3 {
  font-size: 30px;
  margin-bottom: 0px;
  font-family: "Satisfy", sans-serif;
}

.footer-title {
   color: #f8f8ff;
   font-size: 35px
}

.container-flex {
display:flex;
justify-content: center;
}


.footer-titles {
    text-transform: uppercase;
    text-align: center;
    font-family: "Reboto", sans-serif;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}

.copyright {
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: -10px;
  font-family: "Roboto", sans-serif;
}

.center-button {
  text-align: center !important;
}

.validate {
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.01);
  }
}

.section-title {
  text-align: center;
  padding-bottom: 0px;
  margin-top: 80px;
  margin-bottom: 20px;
}
