@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body{
    margin: 0;
    font-weight: 300;
    line-height: 1.5;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    color: #272829;
}

footer {
    display: block; 
}

/* ------------------------------------- Navegation bar */
nav {
     background:#f7f8f9;
}

nav ul {
    display: inline-block;
    width: 100%;
    float: left;
}

nav li {
    font-size: 18px;
    display: inline-block;
    float: left;
}

/* ------------------------------------- Home page */

#home p{
    font-family: "Exo", sans-serif;
    color: #45505b;
    margin: 15px 0 0 0;
    font-size: 18px;
}



#home {
    width: 100%;
    height: 100vh;
    position:relative;
    text-align: center;
    background: url(../images/brazo_tristeza.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    background-size: cover;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
}

.d-flex {
    display: flex!important;
} 

.flex-column {
    flex-direction: column!important;
}

.justify-content-center{
    justify-content: center!important;
}

#home .social-links a{
    font-size: 24px;
    display: inline-block;
    color: #45505b;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
    background: #fff;
    justify-content: center;
    margin-top: 30px;
}

/* ------------------------------------- Footer */

#footer {
    background: #f7f8f9;
    color: #45505b;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
    font-family: "Open Sans", sans-serif;
}

#footer .social-links {
    margin: 0 0 40px 0;
}


.social-links {
    margin: 0 0 40px 0;
    font-size: 22px;
    margin-right: 20px;
    text-align: center;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: blue;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-top: 30px;
}