@import url("https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* ------------------------------------- Body styles */
* {
  box-sizing: border-box;
}

.sections-titles {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #45505b;
}


body {
  margin: 0;
  font-weight: 300;
  line-height: 1.5;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #272829;
}

body h1 {
    color: white;
    font-family: "Satisfy", sans-serif;
}

body h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.list-item {
    margin: 15px 15px 15px 15px;
}

/* ------------------------------------- Navegation bar */
nav {
  /*background: none;*/
  /*background: #02457A;*/
  background:rgba(0, 0, 255, 0.3);
  /*opacity: 0.5;*/
  height: 75px;
}

nav ul {
  display: inline-block;
  width: 100%;
  float: left;
}

nav li {
  font-size: 18px;
  display: inline-block;
  float: left;
}

.navbar-menu {
    position: fixed;
    z-index: 9998;
    display: inline-block;
    width: 100%;
}

.menuitem a  {
    text-decoration: none;
}

.menuitem a i {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    display: block;
    font-size:  20px;
    margin-bottom: 5px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    color : #f8f8ff;
}

.sections h3 {
font-size: 22px;
text-align: center;
}

/* ------------------------------------- Home page */

#home p {
  font-family: "Exo", sans-serif;
  color: #f8f8ff;
  margin: 0px 0px 0px 0px;
  font-size: 18px;
}

#home {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  background: url(../images/brazo_tristeza.JPG);
  background-repeat: no-repeat;
  background-position: center center;
  /*background-attachment: fixed;*/
  background-size: cover;
  /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    
  /*add animation to the background image */
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-center {
  justify-content: center !important;
  margin: 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    justify-content: center;
}

#home .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ffb727;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-top: 30px;
}

/* ------------------------------------- About page styles */
#about {
    background-color: #4682B4;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-size: cover;
    padding: 0px;
    overflow: hidden;
}


/* ------------------------------------- Skills page styles */
#skills {
    background-color: #1E90FF;
    margin-top: 0px;
    margin-bottom: 0px;
    background-size: cover;
    padding: 0px;
    overflow: hidden;
}

.progress {
    position: relative;
    height: 15px;
    margin-bottom: 20px;
}

.progress-section {
    margin: 40px 20px;
}

.skill {
    padding: 10px 0;
    margin: 0 0 0px 0;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
}

.percent {
    float: right;
    font-style: normal;
}

/* ------------------------------------- Resume page styles */
#resume {
    background-color: #B0E0E6;
    margin-top: 0px;
    margin-bottom: 0px;
    background-size: cover;
    padding: 0px;
    overflow: hidden;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

/* vertical line */
ul.timeline::before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 27px;
    width: 5px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

/* circle for the timeline */
ul.timeline > li::before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}


/* ------------------------------------- Portfolio page styles */
#portfolio {
    background-color: #B0C4DE;
    margin-top: 0px;
    margin-bottom: 0px;
    background-size: cover;
    padding: 0px;
    overflow: hidden;
}

.portfolio-section {
    text-align: center;
}



/* ------------------------------------- Contact page styles */
#contact {
    background-color: #87CEEB;
    margin-top: 0px;
    margin-bottom: 0px;
    background-size: cover;
    padding: 0px;
    overflow: hidden;
}

/* ------------------------------------- Footer styles */
footer {
  display: block;
  height: 125px;
}

#footer {
  background: #02457A;
  color: #f8f8ff;
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
}

#footer .social-links {
  margin-bottom: 10px;
  margin-right: 0px;
}

.social-links {
  margin: 0 0 40px 0;
  font-size: 22px;
  text-align: center;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ffb727;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-top: 10px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 30px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.bg-menu {
  background: #f7f8f9;
}

#mobile-menu-content {
    position: fixed;
    right: 0;
    top: 0%;
    width: 8em;
    margin-top: 0em;
    z-index: 1;
    color: white;
    font-size: 24px;
}


#navbarNavDropdown a { 
    color: #ffb727;
}

footer h3 {
    font-size: 20px;
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;
}

.copyright{
    font-size: 15px;
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;
}

.center-button{
text-align: center!important;
}

.validate {
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400px;
    font-size: 13px;
}

@keyframes hero-zoom{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.01);
  }
}

.section-title {
    text-align: center;
    padding-bottom: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}


